﻿@{
    ViewData["Title"] = "Login Required";
}

<div class="container mt-4">
    <h1 class="display-4">Login Required</h1>
    <hr>

    <h6 style="color:#126328">Please log in to view your cart.</h6>


</div>